@model OrganicLifeWebMvc.Models.Produto

@{
    ViewData["Title"] = "Create";
}

<h2 style="text-align:center;">Cadastro de Produto</h2>
<hr />
<div class="row" style="display:flex; flex-direction:column; align-items:center;">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-6">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Sigla" class="control-label"></label>
                <input asp-for="Sigla" class="form-control" />
                <span asp-validation-for="Sigla" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Categoria" class="control-label"></label>
                <select asp-for="Categoria" asp-items="Html.GetEnumSelectList<CategoriaProduto>()" class="form-control"></select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <div class="checkbox">
                    <label>
                        <input asp-for="Organico" /> @Html.DisplayNameFor(model => model.Organico)
                    </label><br />
                    <label>
                        <input asp-for="Deletado" /> @Html.DisplayNameFor(model => model.Deletado)
                    </label>
                </div>
            </div>           
            <div class="form-group col-md-4">
                <label asp-for="DataHoraExclusao" class="control-label">Data/Hora Exclusão</label>
                <input asp-for="DataHoraExclusao" class="form-control" />
                <span asp-validation-for="DataHoraExclusao" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="ResponsavelExclusao" class="control-label"></label>
                <input asp-for="ResponsavelExclusao" class="form-control" />
                <span asp-validation-for="ResponsavelExclusao" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="DataHoraCadastro" class="control-label"></label>
                <input asp-for="DataHoraCadastro" class="form-control" />
                <span asp-validation-for="DataHoraCadastro" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="ResponsavelCadastro" class="control-label"></label>
                <input asp-for="ResponsavelCadastro" class="form-control" />
                <span asp-validation-for="ResponsavelCadastro" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="DataHoraAlteracao" class="control-label"></label>
                <input asp-for="DataHoraAlteracao" class="form-control" />
                <span asp-validation-for="DataHoraAlteracao" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="ResponsavelAlteracao" class="control-label"></label>
                <input asp-for="ResponsavelAlteracao" class="form-control" />
                <span asp-validation-for="ResponsavelAlteracao" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="Cadastrar" class="btn btn-success" />
                <a class="btn btn-danger" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
