@model IEnumerable<OrganicLifeWebMvc.Models.Venda>

@{
    ViewData["Title"] = "Carrinho";
}

<h2 style="text-align:center;">Carrinho</h2>
<hr />
<div style="display:flex; flex-direction:row; padding:50px;">
    <div class="produto-carrinho-container" style="width:60%;" >
       
           <div class="produto-carrinho" style="display:flex; flex-direction:row; justify-content:space-around;">
               <div style="width:30%;">
                   <img src="~/images/adidas.jpg" width="80%;" />
               </div>
               <div style="width:50%;">
                   <p>Nome Produto</p>
                   <p>Descrição</p>
                   <p>Fornecedor</p>
                   <p>Quantidade</p>
                   <h4>Valor Total</h4>
               </div>            
           </div>
        <hr />
           
    </div>
    <div class="especificacoes-carrinho" style="width:30%; border: 0.5px solid #DCDCDC; border-radius:5px; padding:10px; box-sizing:content-box">
        <h2 style="margin-top:10px;">Resumo</h2>
        <div style="margin-top:50px;">
            <h5>Nome Completo:</h5>
            <hr />
            <h5>Endereço:</h5>
            <hr />
        </div>     
        <div>
            <h4>Valor Total:</h4>
        </div>      
        <div style="margin-top:30px;">
            <a class="btn btn-success btn-block">Finalizar Compra</a>
            <a class="btn btn-warning btn-block">Escolher Mais Produtos</a>
        </div>
    </div>
</div>


