@model IEnumerable<OrganicLifeWebMvc.Models.Produto>

@{
    ViewData["Title"] = "ProdutosLista";
}

<h2 style="text-align:center; padding:20px;">Produtos Disponíveis</h2>

<div style="display:flex; flex-direction:row; justify-content:space-around; flex-wrap:wrap;">

    @foreach (var item in Model)
    {
    <div style="padding:20px; width:22%; display:flex; flex-direction:row; justify-content:space-around; flex-wrap:wrap;">
        <div class="card" style="width: 100%; border-radius:5px; border: 0.5px solid #DCDCDC;">
            <img class="card-img-top" src="~/images/produtos-home2.jpg" alt="Card image cap" style="width:100%; height:auto; border-top-left-radius:5px; border-top-right-radius:5px;">
            <div class="card-body" style="text-align:center;">
                <h3 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h3>
                <p>Categoria: @Html.DisplayFor(modelItem => item.Categoria)</p>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Descricao)</p>
                <p>Organico @Html.DisplayFor(modelItem => item.Organico)</p>
                <h3>R$@Html.DisplayFor(modelItem => item.Valor)</h3>
                <a href="#" class="btn btn-success btn-sm">Comprar</a>
            </div>
        </div>
    </div>
        
    }
</div>

