@model OrganicLifeWebMvc.Models.Venda

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Venda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorDesconto" class="control-label"></label>
                <input asp-for="ValorDesconto" class="form-control" />
                <span asp-validation-for="ValorDesconto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxaEntrega" class="control-label"></label>
                <input asp-for="TaxaEntrega" class="form-control" />
                <span asp-validation-for="TaxaEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeioPagamento" class="control-label"></label>
                <select asp-for="MeioPagamento" class="form-control"></select>
                <span asp-validation-for="MeioPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Pago" /> @Html.DisplayNameFor(model => model.Pago)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraPrevisaoEntrega" class="control-label"></label>
                <input asp-for="DataHoraPrevisaoEntrega" class="form-control" />
                <span asp-validation-for="DataHoraPrevisaoEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Deletado" /> @Html.DisplayNameFor(model => model.Deletado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraExclusao" class="control-label"></label>
                <input asp-for="DataHoraExclusao" class="form-control" />
                <span asp-validation-for="DataHoraExclusao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsavelExclusao" class="control-label"></label>
                <input asp-for="ResponsavelExclusao" class="form-control" />
                <span asp-validation-for="ResponsavelExclusao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraCadastro" class="control-label"></label>
                <input asp-for="DataHoraCadastro" class="form-control" />
                <span asp-validation-for="DataHoraCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsavelCadastro" class="control-label"></label>
                <input asp-for="ResponsavelCadastro" class="form-control" />
                <span asp-validation-for="ResponsavelCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraAlteracao" class="control-label"></label>
                <input asp-for="DataHoraAlteracao" class="form-control" />
                <span asp-validation-for="DataHoraAlteracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsavelAlteracao" class="control-label"></label>
                <input asp-for="ResponsavelAlteracao" class="form-control" />
                <span asp-validation-for="ResponsavelAlteracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
