@model OrganicLifeWebMvc.Models.Fornecedor

@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-center">Editar Fornecedor</h2>
<h3 class="text-center">Informações do fornecedor <b>@Model.PessoaJuridica.NomeFantasia</b></h3>
<hr />
<div class="row" style="display:flex; flex-direction:column; align-items:center;">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PessoaJuridica.NomeFantasia" class="control-label">Nome Fantasia</label>
                <input asp-for="PessoaJuridica.NomeFantasia" class="form-control" />
                <span asp-validation-for="PessoaJuridica.NomeFantasia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PessoaJuridica.RazaoSocial" class="control-label">Razão Social</label>
                <input asp-for="PessoaJuridica.RazaoSocial" class="form-control" />
                <span asp-validation-for="PessoaJuridica.RazaoSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PessoaJuridica.Cnpj" class="control-label">CNPJ</label>
                <input asp-for="PessoaJuridica.Cnpj" class="form-control" />
                <span asp-validation-for="PessoaJuridica.Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PessoaJuridica.Celular" class="control-label">Celular</label>
                <input asp-for="PessoaJuridica.Celular" class="form-control" />
                <span asp-validation-for="PessoaJuridica.Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PessoaJuridica.Telefone" class="control-label">Telefone</label>
                <input asp-for="PessoaJuridica.Telefone" class="form-control" />
                <span asp-validation-for="PessoaJuridica.Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PessoaJuridica.Email" class="control-label">E-mail</label>
                <input asp-for="PessoaJuridica.Email" class="form-control" />
                <span asp-validation-for="PessoaJuridica.Email" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex; flex-direction:column; align-items:center;">
                <div>
                    <input type="submit" value="Editar" class="btn btn-success" /> 
                    <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                </div>               
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
