@{
    ViewData["Title"] = "Quem Somos";
}
<h2 style="text-align:center;">@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<table>
    <thead> Lucas</thead>
</table>
