@{
    ViewData["Title"] = "Quem Somos";
}
<h2 style="text-align:center;">@ViewData["Title"]</h2>
<h3>Organic Life</h3>

<p>Fundada em 2021, a Organic Life tem como objetivo, a venda e entrega de produtos orgânicos no conforto de sua casa, visando sempre o bom atendimento e a ótima qualidade dos produtos.</p>

