@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/organic2.jpg" alt="Produtos Orgânicos" class="img-responsive" />
            <div class="carousel-caption" role="option">       
            </div>
        </div>
        <div class="item">
            <img src="~/images/organic1.png" alt="Produtos Orgânicos" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/organicos.jpg" alt="Produtos Orgânicos" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    </a>
</div>
<div class="fretes">
    <div class="fretes-text">
        <img src="~/images/frete-gratis1.png" style="width:20%;" />
        <h4 style="font-weight: bold;">Frete grátis em compras acima de R$ 99,99</h4>
    </div>
    <div class="fretes-text">
        <img src="~/images/relogio.png" style="width:13%;" />
        <h4 style="font-weight: bold;">Faça seu pedido até as 10:00 e receba no mesmo dia!</h4>
    </div>   
</div>
<div class="receba">
    <div class="receba-itens">
        <img class="receba-img"src="~/images/produtos-organicos-home.jpg" />
        <div class="receba-container">
            <h3>Receba em sua casa produtos orgânicos de alta qualidade!</h3>
            <p>
                Receba todos os dias no conforto de sua casa nossos produtos colhidos no mesmo dia e sempre frescos.
            </p>
            <a class="btn btn-success btn-sm">Ir para compras</a>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <h2 class="funciona-text">
        Como Funciona?
    </h2>
    <div class="funciona-container">
        <div class="funciona-card">
            <img class="card-img-top" src="~/images/produtos-home1.png" alt="Card image cap" style="">
            <div class="card-body" style="padding:10px;">
                <h5 class="card-title" style="font-weight:bold;">Você escolhe os produtos</h5>
                <p class="card-text">Escolha seus produtos, verduras, legumes entre outros.</p>
            </div>
        </div>
        <div class="funciona-card">
            <img class="card-img-top" src="~/images/produtos-home2.jpg" alt="Card image cap">
            <div class="card-body" style="padding:10px;">
                <h5 class="card-title" style="font-weight:bold;">Produtos sempre frescos</h5>
                <p class="card-text">Nossos produtos são colhidos todos os dias, para serem entregues sempre frescos.</p>
            </div>
        </div>
        <div class="funciona-card">
            <img class="card-img-top" src="~/images/produtos-home3.jpg" alt="Card image cap">
            <div class="card-body" style="padding:10px;">
                <h5 class="card-title" style="font-weight:bold;">Receba no conforto de casa</h5>
                <p class="card-text">Se o pedido for realizado antes das 10:00, entregaremos os produtos no mesmo dia.</p>
            </div>
        </div>
        <div class="funciona-card">
            <img class="card-img-top" src="~/images/produtos-home4.jpg" alt="Card image cap">
            <div class="card-body" style="padding:10px;">
                <h5 class="card-title" style="font-weight:bold;">Incentive o pequeno produtor</h5>
                <p class="card-text">Você incentiva o pequeno produtor, ajuda a natureza e melhora sua saúde.</p>
            </div>
        </div>
    </div>    
</div>
<hr />
<div class="pagamento-siga">
    <div class="pagamento-siga-div">
        <div class="pagamento-div">
            <h4 style="padding:20px;">
                Formas de Pagamento
            </h4>
            <div class="formas-pagamento-div">
                <div class="forma-div">
                    <img class="forma-img" src="~/images/mastercard.png"/>
                </div>
                <div class="forma-div">
                    <img class="forma-img" src="~/images/visa.png"/>
                </div>
                <div class="forma-div">
                    <img class="forma-img" src="~/images/american.png"/>
                </div>
                <div class="forma-div">
                    <img class="forma-img" src="~/images/dinners.png"/>
                </div>
                <div class="forma-div">
                    <img class="forma-img" src="~/images/hipercard.jpg"/>
                </div>
                <div class="forma-div">
                    <img class="forma-img" src="~/images/elo.png"/>
                </div>
            </div>
        </div>
        <div class="siga-nos">
            <h4 class="siga-nos-text"style="padding:20px; width:60%;">
                Siga-nos
            </h4>
            <div class="siga-nos-div">
                <div class="siga-div">
                    <img class="siga-img" src="~/images/instagram.png" />
                </div>
                <div class="siga-div">
                    <img class="siga-img" src="~/images/facebook.png"/>
                </div>
                <div class="siga-div">
                    <img class="siga-img" src="~/images/youtube.png"/>
                </div>
            </div>
        </div>
    </div>   
</div>